@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
body {
    background-color: rgb(227,201,166); 
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Luxurious Roman;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 10px 40px;
    font-weight: 600;
}

hr{
    color: black;
    background-color: black;
    width: 98%;
    border-color: black;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.green-action-button {
    background-color: #f7f7f7; 
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgb(112, 112, 112)
}

.content-container {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 40px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title-box, .points-box {
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 150px; 
}

.title-box {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.points-box {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.action-list {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    font-weight: 600;
}

.action-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #e5eef3;
}

.action-name {
    font-size: 18px;
    color: #333;
}

.action-points {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}