body{
    margin: 0;
    padding: 0;
    font-family:'Luxuriuos Roman',serif ;
    background-image: url(6..jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-box {
    background: rgba(255, 255, 255, 0.35); 
    padding: 20px 40px;
    border-radius: 20px;
    backdrop-filter: blur(6px); 
    display: inline-block;
    text-align: center;
    max-width: 700px;
}
h1,h2{
    font-family:'Luxuriuos Roman',serif ;
    color: black;
    margin: 0;
}
h1{
    margin-top: 50px;
    font-size: 70px;
    font-weight: normal;
}
h2{
    margin-top: -10px;
    font-size: 50px;
}
p{
    font-size: 20px;
    margin-bottom: 40px;
    color: black;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(150px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 18px;
    justify-items: center;
}
.btn.Contact{
    grid-column: 1/span 2;
}
.btn{
    display: inline-block;
    margin: 10px;
    padding: 15px 40px;
    background-color: rgb(227, 201,166);
    border-radius: 30px;
    text-decoration: none;
    font-family:'Luxuriuos Roman',serif ;
    font-size: 20px;
    transition: 0.2s;
    color: black;
}
.btn:hover{
    background-color: #d8b894;
    transform: translateY(-3px);
}